include LICENSE.md
include README.rst

recursive-include clibs *
prune clibs/*/build
prune clibs/*/dist
prune clibs/*/vs2017/**/Debug
prune clibs/*/vs2017/**/Release
prune clibs/*/vs2017/**/x64
prune clibs/*/vs2017/.vs

recursive-include mbientlab *.py
recursive-include examples *.py

recursive-exclude * *.git
recursive-exclude * *.gitmodules
recursive-exclude * *.gitignore
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.d
recursive-exclude * *.o
recursive-exclude * *.so
recursive-exclude * *.a