include LICENSE.md
include README.rst

recursive-include clibs *
prune clibs/bleat/.git
prune clibs/bleat/build
prune clibs/bleat/dist
prune clibs/bleat/vs2017/**/Debug
prune clibs/bleat/vs2017/**/Release
prune clibs/bleat/vs2017/**/x64
prune clibs/bleat/vs2017/.vs

recursive-include mbientlab *.py
recursive-include examples *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
